@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;300&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    background: #ccc url(https://cdn.pocket-lint.com/r/s/1200x/assets/images/149433-tv-feature-what-order-should-you-watch-the-batman-movies-and-shows-image1-gyquc3whrm.jpg) no-repeat fixed center center / cover;
}
body{
    font: 1.6rem "Montserrat" , sans-serif;
        margin: 0;
}
*{
    box-sizing: border-box;
}
h1,h2,h3,p,figure,ol,ul{
    margin: 0;
    padding: 0;
}
h1,h2,h3{
    font-weight: normal;
}
a{
    text-decoration: none;
    color: black;
}

/* theme */
:root{
    --main-color: rgba(211, 207, 207, 0.9);
    --bg-header-primary: #ffffff;
    --bg-header-secondary: #3d3838;
}
header, main, footer{
    max-width: 90rem;
    margin: 0 auto;
    background-color: var(--main-color);
    
}
header{
    padding: 1rem;
    background-color: var(--main-color);
}
header{
    font-family: "Lobster";
    font-size: x-large
}
header h1::before{
    content:'\01F3AC';
    vertical-align: .3rem;

}

main nav ol, nav h2, section h2, section p{
    padding: 1rem;
    line-height: 3.5rem;
   
}
main nav ol{
    padding-left: 2.5rem;
}
main{
    padding: 1rem;
}
main nav ol{
    padding-left: 2.5rem;
}
main nav ol li a{
    text-transform: capitalize;
}
main nav h2,main section h2{
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--bg-header-primary);
    box-shadow: 0 .3rem 0 var(--bg-header-secondary);
    text-transform: capitalize;
    color: #fafafa;
    text-shadow: .2rem .2rem 0 #333;
    font-size: x-large;
}
main nav .focus:target, main section h2 .focus:target{
    transition:all 500ms ease-in-out;
}

main nav .focus:target, main section .focus:target{
    background: #000;
}
    
main section p, footer p{
    line-height: 2.6rem;
}
section div img{
    display: block;
    width: 100%;
}

footer p {
    text-align: center;
    text-transform: capitalize;
}

